# CRLQAS — LiH 12q (jordan_wigner, stretched geometry R=3.4 Å)
# v2: corrected fake_min_energy to FCI (-7.939952 Ha), accept_err = 1.5 mHa
[general]
episodes = 15000
eval_every = 1000
eval_K = 50
num_parallel_envs = 8
save_every = 1000
compute_pcd = 0

[env]
num_qubits = 12
num_layers = 70
err_mitig = 0
rand_halt = 0

n_shots = 0
noise_models = 0
noise_values = 0

fake_min_energy = -7.939952
fn_type = incremental_with_fixed_start
accept_err = 0.0015
shift_threshold_time = 500
shift_threshold_ball = 1e-3
success_thresh = 50
succ_radius_shift = 10
succes_switch = 0.0015
thresholds = []
switch_episodes = []
curriculum_type = MovingThreshold

[problem]
ham_type = LiH_12q
geometry = Li 0. 0. 0.; H 0. 0. 3.4
mapping = jordan_wigner
mol_file = LiH_12q_geom_Li_0._0._0.;_H_0._0._3.4_jordan_wigner.npz

[agent]
batch_size = 1000
memory_size = 20000
neurons = [5000,5000,5000,5000,5000]
dropout = 0.
learning_rate = 0.0001
angles = 0
en_state = 1
agent_type = DeepQNstep
agent_class = DQN_Nstep
n_step = 6
init_net = 0
update_target_net = 500
final_gamma = 0.005
epsilon_decay = 0.99995
epsilon_min = 0.05
epsilon_restart = 1.0

[non_local_opt]
method = scipy_each_step
optim_alg = Rotosolve
rotosolve_sweeps = 2
global_batched_rotosolve = 1
local_size = 8
